/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam
<dev@ximdex.com>
	*  @version $Revision$
 */
.add_element {
  background: #c4e7e2;
  border: 1px dashed #cccccc;
  text-align: center; }
  .add_element:hover {
    background: #8dd1c8; }
    .add_element:hover strong::before {
      background: #fff; }
  .add_element a {
    line-height: 11.5;
    display: block;
    height: 100%;
    width: 100%; }
  .add_element strong::before {
    background: #fff; }
  .add_element .add::after {
    position: absolute;
    font-size: 2.7rem;
    top: 1.33em;
    left: 1.85em;
    color: #7bcabf; }

.text_label {
  position: absolute;
  bottom: .5em;
  width: 90%;
  margin-left: 5%;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem !important;
  color: #464646; }

.subfolder strong.dataset::before {
  background: #c2d43b; }

.input-select.folder-data::before {
  color: #c2d43b; }

.dataset_action .language_selector {
  float: right;
  border: none;
  background: none;
  padding: 0;
  margin-top: -1.5em; }

.dataset_data {
  width: 63%; }

.dataset::after {
  color: #c2d43b; }

.dataset_info {
  background: #464646;
  padding: 1em 1.5em 2em 1.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff; }
  .dataset_info h3, .dataset_info h3 label {
    text-transform: uppercase;
    font-family: "Ubuntu Condensed";
    font-size: 1.3rem;
    color: #fff;
    padding-bottom: .5em; }
  .dataset_info h4 {
    color: #fff;
    padding-bottom: .5em;
    border-bottom: 3px solid #c2d43b; }
  .dataset_info input:focus, .dataset_info .hidden-focus:focus + label, .dataset_info .hidden-focus:checked:focus + label {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    color: #303030; }
  .dataset_info p {
    margin-bottom: 0; }
  .dataset_info .alternative_select {
    display: none; }
  .dataset_info .languages-section {
    display: inline-block; }
  .dataset_info .alternative-name {
    display: none; }

.reduced_label {
  color: #606060;
  font-size: 1.9rem;
  line-height: 1.4;
  padding: .1em .5em !important; }
  .reduced_label:hover {
    color: #c2d43b; }

.hidden-focus:checked + .reduced_label {
  background: #393939;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #cacaca; }

.editable_data, .non_editable_data {
  width: 46%; }

.editable_data {
  margin-right: 7%;
  position: relative; }
  .editable_data::after {
    content: "";
    height: 80%;
    top: 10%;
    width: 0;
    border-right: 1px solid #ccc;
    position: absolute;
    right: -8.5%; }

/**************
// Distributions
***************/
.distributions {
  clear: both; }
  .distributions .xim-uploader-selected {
    display: inline-block;
    margin-bottom: .5em; }

.distribution_item {
  color: #606060; }

.translate_item {
  margin-bottom: .5em; }

.distribution_title {
  position: relative; }
  .distribution_title::before {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .distribution_title input {
    border: none;
    color: #91a023;
    font-size: 1.2em;
    font-family: "Ubuntu Condensed";
    padding: 0; }

.title_language {
  padding-right: 1em;
  float: right;
  position: relative; }
  .title_language::before {
    position: absolute;
    right: -.5em;
    background: #c2d43b;
    color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.distribution_actions .file {
  position: relative;
  font-size: 1.2em;
  top: -1em; }
.distribution_actions span:not(.label_title):not(.file) {
  display: inline-block;
  margin-left: 4.5em; }
.distribution_actions .label_title {
  padding-left: 0; }
.distribution_actions .name_uploader {
  position: relative;
  padding-right: 3em; }
  .distribution_actions .name_uploader:hover {
    color: #c2d43b; }
  .distribution_actions .name_uploader::before {
    background: #c2d43b;
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .distribution_actions .name_uploader::after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg); }
.distribution_actions .download_link {
  width: 2rem;
  height: 2rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #c2d43b; }
  .distribution_actions .download_link::before {
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
