/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam
<dev@ximdex.com>
	*  @version $Revision$
 */
.distribution_actions button, .distribution_actions a {
  width: 100%;
  background: #fff;
  border: 1px solid #dedede;
  display: block !important;
  padding: .7em 1em;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  border-color: #fff;
  background: #d6d8dd; }

.distributions .upload-button, .distributions .save-button, .distributions .add-button, .distributions .cancel-button {
  background: #fff;
  border: 1px solid #dedede;
  display: inline-block;
  padding: .7em 1em;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  z-index: 2;
  cursor: pointer !important;
  border-color: #fff;
  background: #d6d8dd; }
  .distributions .upload-button input, .distributions .save-button input, .distributions .add-button input, .distributions .cancel-button input {
    cursor: pointer; }
  .distributions .upload-button:focus, .distributions .save-button:focus, .distributions .add-button:focus, .distributions .cancel-button:focus, .distributions .upload-button:active, .distributions .save-button:active, .distributions .add-button:active, .distributions .cancel-button:active, .distributions .active.upload-button, .distributions .active.save-button, .distributions .active.add-button, .distributions .active.cancel-button, .distributions .upload-button:hover, .distributions .save-button:hover, .distributions .add-button:hover, .distributions .cancel-button:hover {
    outline: none; }
  .distributions .upload-button:focus, .distributions .save-button:focus, .distributions .add-button:focus, .distributions .cancel-button:focus, .distributions .upload-button:hover, .distributions .save-button:hover, .distributions .add-button:hover, .distributions .cancel-button:hover {
    background: #babdc6; }
  .distributions .upload-button:active, .distributions .save-button:active, .distributions .add-button:active, .distributions .cancel-button:active, .distributions .active.upload-button, .distributions .active.save-button, .distributions .active.add-button, .distributions .active.cancel-button {
    box-shadow: inset 0 0 1px #464955; }
  .distributions .upload-button:disabled, .distributions .save-button:disabled, .distributions .add-button:disabled, .distributions .cancel-button:disabled, .distributions .disabled.upload-button, .distributions .disabled.save-button, .distributions .disabled.add-button, .distributions .disabled.cancel-button {
    background: #babdc6 !important;
    cursor: default !important; }

.distributions .upload-button, .distributions .save-button {
  color: white !important;
  background-image: linear-gradient(#72c4b9, #7ccac0); }
  .distributions .upload-button:focus, .distributions .save-button:focus, .distributions .upload-button:hover, .distributions .save-button:hover {
    background-image: linear-gradient(#4eb5a7, #58bbaf); }
  .distributions .upload-button:active, .distributions .save-button:active {
    background-image: linear-gradient(#7ccac0, #72c4b9); }

.distribution_actions button, .distribution_actions a {
  width: 1.48em;
  height: 1.48em;
  line-height: 1;
  padding: 0;
  text-align: center; }
  .distribution_actions button:active, .distribution_actions a:active, .distribution_actions button:focus, .distribution_actions a:focus {
    outline: none;
    box-shadow: none; }

.crud-actions .edit-button, .crud-actions .delete-button {
  cursor: pointer;
  background: none;
  border: none; }
  .crud-actions .edit-button:active, .crud-actions .delete-button:active, .crud-actions .edit-button:focus, .crud-actions .delete-button:focus {
    outline: none;
    box-shadow: none; }

.distributions .upload-button, .distributions .save-button, .distributions .add-button, .distributions .cancel-button {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all; }

.distributions .upload-button i::before, .distribution_actions .name_uploader::before, .crud-actions .edit-button i::before, .crud-actions .delete-button i::before {
  font-family: 'ximdex_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

.distributions .upload-button i::before, .distribution_actions .name_uploader::before {
  content: "\e611"; }

.crud-actions .edit-button i::before {
  content: "\45"; }

.crud-actions .delete-button i::before {
  content: "\63"; }

.add_element {
  background: #c4e7e2;
  border: 1px dashed #cccccc;
  text-align: center; }
  .add_element:hover {
    background: #8dd1c8; }
    .add_element:hover strong::before {
      background: #fff; }
  .add_element a {
    line-height: 11.5;
    display: block;
    height: 100%;
    width: 100%; }
  .add_element strong::before {
    background: #fff; }
  .add_element .add::after {
    position: absolute;
    font-size: 2.7rem;
    top: 1.33em;
    left: 1.85em;
    color: #7bcabf; }

.text_label {
  position: absolute;
  bottom: .5em;
  width: 90%;
  margin-left: 5%;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem !important;
  color: #464646; }

.subfolder strong.dataset::before {
  background: #c2d43b; }

.input-select.folder-data::before {
  color: #c2d43b; }

.dataset_action .language_selector {
  float: right;
  border: none;
  background: none;
  padding: 0;
  margin-top: -1.5em; }

.dataset_data {
  width: 63%; }

.dataset::after {
  color: #c2d43b; }

.dataset_info {
  background: #464646;
  padding: 1em 1.5em 2em 1.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff; }
  .dataset_info h3, .dataset_info h3 label {
    text-transform: uppercase;
    font-family: "Ubuntu Condensed";
    font-size: 1.3rem;
    color: #fff;
    padding-bottom: .5em; }
  .dataset_info h4 {
    color: #fff;
    padding-bottom: .5em;
    border-bottom: 3px solid #c2d43b; }
  .dataset_info input:focus, .dataset_info .hidden-focus:focus + label, .dataset_info .hidden-focus:checked:focus + label {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    color: #303030; }
  .dataset_info p {
    margin-bottom: 0; }
  .dataset_info .alternative_select {
    display: none; }
  .dataset_info .languages-section {
    display: inline-block; }
  .dataset_info .alternative-name {
    display: none; }

.reduced_label {
  color: #606060;
  font-size: 1.9rem;
  line-height: 1.4;
  padding: .1em .5em !important; }
  .reduced_label:hover {
    color: #c2d43b; }

.hidden-focus:checked + .reduced_label {
  background: #393939;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #cacaca; }

.editable_data, .non_editable_data {
  width: 46%; }

.editable_data {
  margin-right: 7%;
  position: relative; }
  .editable_data::after {
    content: "";
    height: 80%;
    top: 10%;
    width: 0;
    border-right: 1px solid #ccc;
    position: absolute;
    right: -8.5%; }

.distributions {
  clear: both; }
  .distributions #new-distribution {
    display: inline-block;
    margin-bottom: .5em; }

.distribution_item {
  color: #606060; }

.translate_item {
  margin-bottom: .5em; }

.distribution_title {
  position: relative; }
  .distribution_title::before {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.translate_item input, .default_title {
  border: none;
  color: #91a023;
  font-size: 1.2em;
  font-family: "Ubuntu Condensed";
  padding: 0;
  width: 100%;
  padding-right: 65px; }

.title_language {
  padding-right: 1em;
  position: absolute;
  right: 0;
  top: 0; }
  .title_language::before {
    position: absolute;
    right: -.5em;
    background: #c2d43b;
    color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.translated_items {
  position: relative;
  margin-bottom: 20px; }
  .translated_items ul {
    margin-top: -2px; }
  .translated_items li {
    position: relative;
    border-bottom: 1px dashed #e7e7e7; }
  .translated_items .language-label {
    position: absolute;
    right: 16px;
    top: 3px; }

.distributions .cancel-button, .distributions .save-button {
  height: 40px;
  width: 100%; }
.distributions .upload-button {
  position: relative;
  text-align: center; }
  .distributions .upload-button input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }
.distributions .save-cancel-buttonset {
  margin-top: 1em;
  display: flex;
  justify-content: space-between; }

.distribution_actions {
  display: flex;
  justify-content: space-between; }
  .distribution_actions .file {
    width: 32%; }
    .distribution_actions .file .upload-button,
    .distribution_actions .file .file_name {
      display: inline-block;
      vertical-align: middle; }
    .distribution_actions .file .file_name {
      font-size: 1.2em; }
  .distribution_actions button, .distribution_actions a {
    background-color: #c2d43b; }
    .distribution_actions button:hover, .distribution_actions a:hover {
      color: white; }
  .distribution_actions a {
    line-height: 1.3; }
  .distribution_actions .label_title {
    padding-left: 0; }

.crud-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em 0.4em;
  font-size: 1.2em; }
  .crud-actions .edit-button, .crud-actions .delete-button {
    margin: 0;
    padding: 0; }
  .crud-actions .edit-button i {
    color: #606060; }
  .crud-actions .delete-button i {
    color: #c56e50; }

#mdfdts_form .submit-button {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e6e6e), to(#7b7b7b));
  background-image: -webkit-linear-gradient(#6e6e6e, #7b7b7b);
  background-image: -moz-linear-gradient(#6e6e6e, #7b7b7b);
  background-image: -o-linear-gradient(#6e6e6e, #7b7b7b);
  background-image: linear-gradient(#6e6e6e, #7b7b7b);
  border-color: #6e6e6e;
  text-shadow: 0 -1px 0 #515151, 0 1px 0 rgba(0, 0, 0, 0.2);
  font-family: "Coustard";
  text-transform: uppercase;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 7px 14px 5px;
  margin: 0 0 0 10px;
  cursor: pointer;
  font-size: 1.1rem;
  border: 1px solid #d3d3d3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#72c4b9), to(#7ccac0));
  background-image: -webkit-linear-gradient(#72c4b9, #7ccac0);
  background-image: -moz-linear-gradient(#72c4b9, #7ccac0);
  background-image: -o-linear-gradient(#72c4b9, #7ccac0);
  background-image: linear-gradient(#72c4b9, #7ccac0);
  border-color: #74c6bb;
  text-shadow: 0 -1px 0 #60b6aa, 0 1px 0 rgba(255, 255, 255, 0.2); }
  #mdfdts_form .submit-button:hover, #mdfdts_form .submit-button:focus {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b4b4b), to(#707070));
    background-image: -webkit-linear-gradient(#4b4b4b, #707070);
    background-image: -moz-linear-gradient(#4b4b4b, #707070);
    background-image: -o-linear-gradient(#4b4b4b, #707070);
    background-image: linear-gradient(#4b4b4b, #707070);
    border-color: #676767;
    -webkit-box-shadow: 1px 1px 2px rgba(157, 157, 157, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(157, 157, 157, 0.2);
    box-shadow: 1px 1px 2px rgba(157, 157, 157, 0.2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52ada0), to(#77c6bb));
    background-image: -webkit-linear-gradient(#52ada0, #77c6bb);
    background-image: -moz-linear-gradient(#52ada0, #77c6bb);
    background-image: -o-linear-gradient(#52ada0, #77c6bb);
    background-image: linear-gradient(#52ada0, #77c6bb);
    border-color: #66bbaf;
    -moz-box-shadow: 1px 1px 2px rgba(157, 157, 157, 0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(157, 157, 157, 0.2);
    -box-shadow: 1px 1px 2px rgba(157, 157, 157, 0.2);
    outline: none; }
  #mdfdts_form .submit-button:active {
    -webkit-box-shadow: 0 0 6px 3px #69c3b6;
    -moz-box-shadow: 0 0 6px 3px #69c3b6;
    box-shadow: 0 0 6px 3px #69c3b6; }
  #mdfdts_form .submit-button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none; }
#mdfdts_form .buttons-form {
  top: .5em; }
