/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam
<dev@ximdex.com>
	*  @version $Revision$
 */


@import "../../../../../../xmd/style/jquery/ximdex_theme/widgets/themes/_ximdex_theme";
@import "../../../../../../xmd/style/jquery/ximdex_theme/widgets/themes/_extends";
@import "../../../../../../xmd/style/jquery/ximdex_theme/widgets/themes/_icons";


.add_element{
	background:lighten($c_mainlight, 20%);
	border: 1px dashed $c_grey-pp;
	text-align: center;
	&:hover{
		background:lighten($c_mainlight, 5%);
		strong::before{
		background:#fff;
		}
	}
	a{
		line-height: 11.5;
		display: block;
		height: 100%;
		width: 100%;
	}

	strong::before{
		background:#fff;
		
	}
	.add::after{
		position: absolute;
		font-size: 2.7rem;
		top: 1.33em;
		left: 1.85em;
		color: $c_mainlight;
	}
}


.text_label{
	position: absolute;
	bottom: .5em;
	width: 90%;
	margin-left: 5%;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 1.4rem !important;
	color: $c_grey-l;
}

.subfolder strong.dataset{
	&::before{
		background:#c2d43b;
	}
}

.input-select.folder-data::before{
	color:#c2d43b;
}

/**************
// dataset info
***************/

.dataset_action{
	.language_selector{
		float: right;
		border: none;
		background: none;
		padding: 0;
		margin-top: -1.5em;		
	}
}

.dataset_data{
	width: 63%;
}

.dataset{
	&::after{
		color: #c2d43b;
	}
}

.dataset_info{
	background:$c_grey-l;
	padding: 1em 1.5em 2em 1.5em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;

	h3, h3 label{
		text-transform: uppercase;
		font-family: $t_text;
		font-size: 1.3rem;
		color: #fff;
		padding-bottom: .5em;
	}

	h4{
		color: #fff;
		padding-bottom: .5em;
		border-bottom: 3px solid #c2d43b;
	}

	input:focus,.hidden-focus:focus + label, .hidden-focus:checked:focus + label{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border: none;
		color: #303030;
	}
	
	p{
		margin-bottom: 0;
	}
	.alternative_select{
		display: none;
	}

	.languages-section{
		display: inline-block;
	}	

	.alternative-name{
		display: none;
	}
}

	.reduced_label{
		color: #606060;
		font-size: 1.9rem;
		line-height: 1.4;
		padding: .1em .5em !important;
		&:hover{
			color: #c2d43b;
		}

	}

.hidden-focus:checked + .reduced_label{
	background:darken($c_grey-l, 5%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #cacaca;
}

.editable_data, .non_editable_data{
	width: 46%;
}

.editable_data{
	margin-right: 7%;
	position: relative;
	&::after{
		content: "";
		height: 80%;
		top: 10%;
		width: 0;
		border-right: 1px solid #ccc;
		position: absolute;
		right: -8.5%;
		
	}
}

/**************
// Distributions
***************/

.distributions{
	clear: both;
	#new-distribution {
		display: inline-block;
		margin-bottom: .5em;
	}
}

.distribution_item{
	color: $c_grey;
}



.translate_item{
	margin-bottom: .5em;
}

.distribution_title{
	position: relative;
	&::before{
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		
	}
}

.translate_item input, .default_title {
	border: none;
	color: darken(#c2d43b, 15%);
	font-size: 1.2em;
	font-family: $t_text;	
	padding: 0;
	width: 100%;
	padding-right: 65px;
}

.title_language{
	padding-right: 1em;
	position: absolute;
	right: 0;
	top: 0;
	&::before{
		position: absolute;
		right: -.5em;
		background: #c2d43b;
		color: #fff;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		
	}
}

.translated_items {
	position: relative;
	margin-bottom: 20px;

	ul {
		margin-top: -2px;
	}
	li {
		position: relative;
		border-bottom: 1px dashed rgb(231, 231, 231);	
	}
	.language-label {
		position: absolute;
		right: 16px;
		top: 3px;
	}
	// .title_language span {display: none;}
}
.distributions {
	.upload-button, .add-button {
		@extend %button-default;
	}
	.save-button {
		@extend %button-main-action-alt;
	}

	.upload-button, .save-button {
		height: 40px;
		width: 49%;
	}
	
	.upload-button {
		position: relative;
		text-align: center;
		display: inline-block!important;
		vertical-align: top;
		span {
			font-size: 1.1em;
			line-height: 1.2;
		}
		input {
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.distribution_actions {
	display: flex;
	justify-content: space-between;
	.file {
		font-size: 1.2em;
		& > * {
			display: inline-block!important;
			vertical-align: middle;
		}
	}
	button, a {
		@extend %tiny-square-button;
		background-color: #c2d43b;
		&:hover {
			color: white;
		}
	}
	a {
		line-height: 1.3;
	}
	.label_title{
		padding-left: 0;
	}
	.name_uploader {
		@extend %icon;
		@extend %upload;
	}
	.download_link {
		@extend %icon;
		@extend %download;
	}
	

}
#mdfdts_form {
	.submit-button {
		@include btn;
		@include radius(2px);
		padding: 7px 14px 5px;
		margin: 0 0 0 10px;
		cursor: pointer;
		font-size: 1.1rem;
		border: 1px solid #d3d3d3;
		@include btn-main;
		&:hover, &:focus {
			@include btn-hover;
			@include btn-main-hover;
			outline: none;
		}
		&:active {
			@include boxshadow(0 0  6px 3px darken($c_mainlight, 5%));
		}
		&:active {
			@include boxshadow(inset 0 2px 4px $s_black);
			outline: none;
		}
	}
	.buttons-form {top: .5em;}
}


