/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam
<dev@ximdex.com>
	*  @version $Revision$
 */


@import "../../../../../../xmd/style/jquery/ximdex_theme/widgets/themes/_ximdex_theme";
@import "../../../../../../xmd/style/jquery/ximdex_theme/widgets/themes/_extends";
@import "../../../../../../xmd/style/jquery/ximdex_theme/widgets/themes/_icons";

.add_element{
	background:lighten($c_mainlight, 20%);
	border: 1px dashed $c_grey-pp;
	text-align: center;
	&:hover{
		background:lighten($c_mainlight, 5%);
		strong::before{
		background:#fff;
		}
	}
	a{
		line-height: 11.5;
		display: block;
		height: 100%;
		width: 100%;
	}

	strong::before{
		background:#fff;
		
	}
	.add::after{
		position: absolute;
		font-size: 2.7rem;
		top: 1.33em;
		left: 1.85em;
		color: $c_mainlight;
	}
}


.text_label{
	position: absolute;
	bottom: .5em;
	width: 90%;
	margin-left: 5%;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 1.4rem !important;
	color: $c_grey-l;
}

.subfolder strong.dataset{
	&::before{
		background:#c2d43b;
	}
}

.input-select.folder-data::before{
	color:#c2d43b;
}

/**************
// dataset info
***************/

.dataset_action{

	.language_selector:not(.ng-hide) + .empty_state{
		display: none;
	}

	.empty_state{
		padding: 9em 1.5em 7em 3.5em;
		span{
			text-align: center;
			display: block;
			color: darken($c_background, 55%);
		}

		.title{
			text-transform: uppercase;
			position: relative;
			padding: .5em;
			&::before, &::after{ 
				@extend %language;
				position: absolute;
				color: darken($c_background, 7%);
				font-size: 3.4em;
				top: -1.3em;
				left: 20%;
				text-shadow:  5px 0 0 $c_background;
				z-index: 2;
			}

			 &::after{
			 	color: darken($c_background, 10%);
				-moz-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
				filter: FlipH;
				-ms-filter: "FlipH";
				font-size: 4.5em;
				top: -1.2em;
				left: 40%;
				z-index: 1;
			 }
		}


	}

	.language_selector{
		position: absolute;
		right: 0;
		border: none;
		background: none;
		padding: 0;
		z-index: 2;
	}

	.headline{
		position: relative;
		padding: 1.5em 1em;
		span{
			background:$c_background;
			position: relative;
			z-index: 2;
			padding: 0 1em;
			text-transform: uppercase;
			font-family: $t_text;
			font-weight: bold;
		}
		&::before{
			content: "";
			position: absolute;
			width: 100%;
			border-top: 1px solid $c_grey-pp;
			top: 50%;	
			left: 0;
		}
	}
}

.dataset_data{
	width: 63%;
}



.dataset{
	&::after{
		color: #c2d43b;
	}
}

.dataset_info{
	background:$c_grey-l;
	padding: 1em 1.5em 2em 1.5em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;

	h3, h3 label{
		text-transform: uppercase;
		font-family: $t_text;
		font-size: 1.3rem;
		color: #fff;
		padding-bottom: .5em;
	}

	h4{
		color: #fff;
		padding-bottom: .5em;
		border-bottom: 3px solid #c2d43b;
	}

	/*input:focus,.hidden-focus:focus + label, .hidden-focus:checked:focus + label{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border: none;
		color: #303030;
	}*/
	
	p{
		margin-bottom: 0;
	}
	.alternative_select{
		display: none;
	}

	.languages-section, .channel-section{
		display: inline-block;
		

		label{
			display: block;
			padding: .3em 1em .3em .8em;
			white-space: nowrap;
			width: 100%;

		}
	}	

	.alternative-name{
		display: none;
	}

	.reference_tooltip{
		position: relative;
		display: block;

		&::before{
			content: attr(data-tooltip);
			@extend %tooltip;
			right: 0;
			top: 2.3em;
			 -webkit-transition: none;
	            -moz-transition: none;
	            -ms-transition: none;
	            -o-transition: none;
	            transition: none;
		}

		&:hover::before{
			opacity: 1;
			height: auto;
			width: auto;
			 -webkit-transition: all .5s .3s;
	            -moz-transition: all .5s .3s;
	            -ms-transition: all .5s .3s;
	            -o-transition: all .5s .3s;
	            transition: all .5s .3s;
		}

		&::after{
			@include triangle(top, rgba(27,27,27,.8), .6em);
			right: 1em;
			top: 2.4em;
			 -webkit-transition: none;
	            -moz-transition: none;
	            -ms-transition: none;
	            -o-transition: none;
	            transition: none;
	            opacity: 0;
		}
		&:hover::after{
			opacity: 1;
			 -webkit-transition: all .5s .3s;
	            -moz-transition: all .5s .3s;
	            -ms-transition: all .5s .3s;
	            -o-transition: all .5s .3s;
	            transition: all .5s .3s;
		}
	}

}

	.reduced_label, .hidden-focus:focus + label{
		color: #fff !important;
		font-size: 1.6rem;
		line-height: 1.4;
		cursor: pointer;
		background:lighten($c_grey-l, 3%);
		border: 1px solid darken($c_grey-l, 5%);
		-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.2);
		-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.2);
		box-shadow: inset 0 1px 1px rgba(255,255,255,.2);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		&:hover{
			color: #c2d43b;
		}

		&::before{
			@extend %tic-outer;
			display: inline-block;
			color: rgba(255,255,255,.4);
			margin: -.2em .5em 0 0;
		}

	}

.hidden-focus:checked + .reduced_label, .hidden-focus:focus, .hidden-focus:checked:focus + label{
	color: #fff;
		background:darken($c_grey-l, 5%);

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
		border: 1px solid darken($c_grey-l, 5%);

	&::before{
		@extend %tic;
		color: #c2d43b;
	}
}


.editable_data, .non_editable_data{
	width: 46%;
}

.editable_data{
	margin-right: 7%;
	position: relative;
	&::after{
		content: "";
		height: 80%;
		top: 10%;
		width: 0;
		border-right: 1px solid #ccc;
		position: absolute;
		right: -8.5%;
		
	}
}

/**************
// Distributions
***************/

.distributions{
	clear: both;
	padding-bottom: 2em;
	#new-distribution {
		display: inline-block;
		margin-bottom: .5em;
	}
}

.distribution_item{
	color: $c_grey;
	&.error {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-raiuds: 3px;
			background-color: white;
			opacity: 0.9;
			content: attr(xim-text);
			z-index: 3;
			line-height: 7;
			text-align: center;
			color: lighten(black, 20%);
		}
	}
}



.translate_item{
	margin-bottom: .5em;
}

.distribution_title{
	position: relative;
	&::before{
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		
	}
}

.translate_item input, .default_title {
	border: none;
	color: darken($c_mainlight, 15%);
	font-size: 1.2em;
	font-family: $t_text;	
	padding: 0;
	width: 100%;
	padding-right: 65px;
}

.title_language{
	padding-right: 1em;
	position: absolute;
	right: 0;
	top: 0;
	&::before{
		position: absolute;
		right: -.5em;
		background: #c2d43b;
		color: #fff;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		
	}
}

.translated_items {
	position: relative;
	margin-bottom: 20px;

	ul {
		margin-top: -2px;
	}
	li {
		position: relative;
		border-bottom: 1px dashed rgb(231, 231, 231);	
	}
	.language-label {
		position: absolute;
		right: 16px;
		top: 3px;
	}
	// .title_language span {display: none;}
}
.distributions {
	.add-button, .cancel-button {
		@extend %button-default;
	}
	.save-button {
		@extend %button-main-action;
	}

	.cancel-button, .save-button {
		height: 36px;
		width: 100%;
		&.hidden {
			width:0;
			padding: 0;
			margin: -2px;
		}
	}

	.upload-button {
		position: relative;
		text-align: center;	
		input {
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
	.save-cancel-buttonset {
		margin-top: 1em;
		display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
		display: -ms-flexbox;           /* TWEENER - IE 10 */
		display: -webkit-flex;          /* NEW - Chrome */ 
		display: flex;
		justify-content: space-between;
	}
}

.file:not(.empty) .upload-button{
	@extend %hide-text;
	@extend %reload;
	width: 1.4em;
	height: 1.4em;
	background:$c_bluelight;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-left: .5em;
	cursor: pointer;
	&:hover{
		background:lighten($c_bluelight, 10%);
	}

	&::before{
		text-indent: 0;
		display: block;
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 1.1em;
		padding-top: .1em;
	}
}
.file:not(.empty) {
	display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
	display: -ms-flexbox;           /* TWEENER - IE 10 */
	display: -webkit-flex;          /* NEW - Chrome */ 
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-top: .3em;
	span{
 		-webkit-box-flex: 1.0;
		-moz-box-flex:  1.0;
		-webkit-flex:  1.0;
		-ms-flex:  1.0;
		flex:  1.0;				
	}
	.file-upload {
		width: 32%;
		 -webkit-box-flex: 2.0;
		-moz-box-flex:  2.0;
		-webkit-flex:  2.0;
		-ms-flex:  2.0;
		flex:  2.0;	
		.upload-button,
		.file_name {
			display: inline-block;
			font-weight: bold;
			vertical-align: middle;
		}
	}
	.format_file{
		&::before{
			content: ".";
			
		}
	}

	.modified_date{
		text-align: right;
	}
	button, a {
		@extend %tiny-square-button;
		background-color: #c2d43b;
		&:hover {
			color: white;
		}
	}
	a {
		line-height: 1.3;
	}
	.label_title{
		padding-left: 0;
	}
	/*.name_uploader {
		@extend %icon;
		@extend %upload;
	}*/

}
.file.empty {
	.upload-button{
		@extend %button-main-action;
		@extend %upload;
		width: 100%;
		margin-top: -1em;

		&::before{
			font-size: 1.4em;
			display: inline-block;
			margin: -.2em .5em 0 0;

		}
	}
	& + .save-cancel-buttonset {
		margin-top: 0.1em;
	}
}
.crud-actions {
	position: absolute;
	top: .5em;
	right: .5em;
	padding: 0.2em 0.4em;
	font-size: 1.2em;

	.edit-button{
		background:$c_mainlight;
		@extend %pencil;
	}

	.delete-button{
		background:$c_delete;
		@extend %cancel;
	}

	.edit-button, .delete-button {
		margin: 0 0 0 .5em;
		padding: 0;
		cursor: pointer;

		&::before{
			line-height: 1;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			
		}

	}
	/*.edit-button i{
		@extend %icon;
		@extend %pencil;
		color: $c_grey;
	}
	.delete-button i{
		@extend %icon;
		@extend %cancel;
		color: $c_delete;
	}*/
}
#mdfdts_form {
	.submit-button {
		


		@include btn;
		@include radius(2px);
		padding: 7px 14px 5px;
		cursor: pointer;
		font-size: 1.1rem;
		border: 1px solid #d3d3d3;
		@include btn-main;
		width: 63%;
		margin: 3em 0 5em;
		height: 3.5em;
		&:hover, &:focus {
			@include btn-hover;
			@include btn-main-hover;
			outline: none;
		}
		&:active {
			@include boxshadow(inset 0 2px 4px $s_black);
			outline: none;
		}
		&:disabled, &.disabled {
            @include boxshadow(none);
		background: darken($c_greymain, 15%);
		color: lighten($c_greymain, 15%);
           	border: none;
            cursor: default!important;   
            text-shadow: none;
        } 
	}
	.buttons-form {top: .5em;}
}


